{% extends "admin/change_form.html" %}
{% load i18n admin_static %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}


    <style>
        .hidden {display: none !important;}
        .field-name input { width: 300px;}
        .block-extra {
            margin-left: 160px;
            margin-left: 11.42857rem;
            padding: 12px;
            padding: 0.85714rem;
            position: relative;
        }
        .block-extra button {
            cursor: pointer;
        }
        .block-extra .list-extra {
            margin-bottom: 20px;
        }
        .block-extra .row-extra {
            padding: 0.85714rem 0;
            border-bottom: 1px solid #CCCCCC;
            position: relative;
        }
        .block-extra .col-extra:after,
        .block-extra .col-result:after {
            content: '';
            clear: both;
            display: block;
        }
        .block-extra .inline_label {
            display: inline-block;
            background: #59677e;
            color: #fff;
            margin-right: 10px;
            margin-right: 0.71429rem;
            padding: 4px 8px;
            padding: 0.28571rem 0.57143rem;
            border-radius: 5px;
            border-radius: 0.35714rem;
            font-size: 10px;
            font-size: 0.71429rem;
            font-weight: normal;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            box-sizing: border-box;
            vertical-align: middle;
            cursor: pointer;
        }
        .block-extra .inline-deletelink {
            position: absolute;
            right: 0;
            top: 0.85714rem;
            margin-left: 10px;
            margin-left: 0.71429rem;
            display: inline-block;
            background: #c14747;
            border: none;
            color: #fff;
            padding: 8px 12px;
            border-radius: 5px;
            border-radius: 0.35714rem;
            font-size: 10px;
            font-size: 0.71429rem;
            font-weight: normal;
            vertical-align: middle;
            white-space: nowrap;
        }
        .block-extra .col-extra,
        .block-extra .col-result {
            display: inline-block;
            margin-right: 20px;
            padding: 0.71429rem;
            padding-left: 24px;
            padding-left: 1.71429rem;
            vertical-align: middle;
        }
        .block-extra label {
            width: auto;
            padding-right: 12px;
        }
        .block-extra select {
            width: 300px;
        }
        .block-extra .col-result {
            display: block;
            padding-left: 5.5rem;
        }
        .block-extra .col-result .extra-value {
            border: 1px solid #6f7e95;
            border-radius: 6px;
            width: 464px;
            height: 32px;
            height: 2.28571rem;
            display: inline-block;
            margin-right: 30px;
            float: left;
        }
        .tooltip {
            cursor: pointer;
            font-size: 15px;
            padding: 3px 6px;
            display: inline-block;
            border: 1px solid black;
            border-radius: 50px;
            background-color: black;
            color: white;
            margin-left: 10px;
            position: relative;
        }
        .tooltip-content ul {
            padding-left: 15px;
        }
        .tooltip-content ul > li {
            padding-bottom: 8px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.full.min.js"></script>
    <script type="text/javascript">
        var initModel = initModel || {};
        initModel.data = {};
        initModel.getModel = function(callback) {
            jQuery.ajax({
                type:"GET",
                url:"/api/notifications/get_models/",
                success: function(result){
                    if (callback) ;callback(result);
                },
                error: function (result) {
                    console.error(result)
                }
            });
        };
        initModel.mapField = function(select, list, value) {
            const fieldList = [];

            if (!value) value = list[0];

            jQuery.map(list, function(item) {
                if (value === item) {
                    fieldList.push({
                        id: item,
                        text: item,
                        "selected": true
                    })
                } else {
                    fieldList.push({
                        id: item,
                        text: item
                    })
                }
            })
            if (select.html().length > 0) {
                select.select2("val", "");
                select.html('');
            } else {
                select.width(300);
            }
            select.select2({ data: fieldList });
        };
        initModel.renderModel = function(data, select, selectValue, selectField, selectFieldValue) {
            const modelList = [];
            if (!selectValue) {
                selectValue = data[0].model;
            }

            jQuery.map(data, function(item) {
                if (selectValue === item.model) {
                    modelList.push({
                        id: item.model,
                        text: item.model,
                        "selected": true
                    });
                    initModel.mapField(selectField, item.fields, selectFieldValue);
                } else {
                    modelList.push({
                        id: item.model,
                        text: item.model
                    })
                }
            });


            select.attr('child-fields', selectField.attr('id'));
            select
                .width(300)
                .select2({ data: modelList });

            select.on('change', function(e) {
                const model = jQuery(this).val();
                const selectChild = jQuery('#' + jQuery(this).attr('child-fields'));
                jQuery.map(initModel.data, function(item) {
                    if (model === item.model) {
                        initModel.mapField(selectChild, item.fields);
                        return;
                    }
                })
            })
        };
        initModel.templateBlock = '<div class="block-extra">' +
            '<div id="extra_list" class="list-extra"></div>' +
            '<div><button type="button" class="button default" data-add=""><span class="related-widget-wrapper-icon"></span>Add field</button></div>' +
            '</div>';
        initModel.templateRow = '<div class="row-extra"> ' +
            '<button type="button" class="inline-deletelink" data-remove="$">Remove</button>' +
            '<div class="col-extra"><label>Model:</label><select id="select_model_$" data-model child-field="select_field_$" data="extra_content_$"></select></div>' +
            '<div class="col-extra"><label>Field:</label><select id="select_field_$" data-field></select></div>' +
            '<div class="col-result"><label>Custom field:</label><input type="text" id="extra_content_$" class="extra-value" data-value readonly="true" />' +
            '<button type="button" class="button" data="extra_content_$" data-copy>Copy to clipboard</button></div>' +
            '</div>';
        initModel.formatContentField = function(model, field) {
            return '{' + model + '.' + field + '}';
        };
        initModel.getExtraContentField = function() {
            const block = jQuery('#extra_list');
            const _value = [];
            block.find('.row-extra').each(function(key, item) {
                _value.push(
                    jQuery(item).find('[data-value]')
                        .val()
                        .replace(/\{/g, '')
                        .replace(/\}/g, '')
                )
            });
            jQuery('#id_extra_content_fields').val(
                _value.join(',')
            );
        };
        initModel.removeRow = function(element) {
            jQuery(element).remove();
            initModel.getExtraContentField();
        };
        initModel.addRow = function(index, modelValue, fieldValue) {
            const block = jQuery('#extra_list');
            const row = jQuery(initModel.templateRow.replace(/\$/g, index));

            row.find('[data-remove]').on('click', function() {
                initModel.removeRow(jQuery(this).parents('.row-extra'));
            });

            const selectModel = row.find('[data-model]');
            const selectField = row.find('[data-field]');
            const showValue = row.find('[data-value]');

            initModel.renderModel(initModel.data,
                selectModel, modelValue,
                selectField, fieldValue
            );

            showValue.val(
                initModel.formatContentField(selectModel.val(), selectField.val())
            );

            selectModel.on('change', function() {
                showValue.val(
                    initModel.formatContentField(selectModel.val(), selectField.val())
                );
                initModel.getExtraContentField();
            });
            selectField.on('change', function() {
                showValue.val(
                    initModel.formatContentField(selectModel.val(), selectField.val())
                );
                initModel.getExtraContentField();
            });

            row.find('[data-copy]').on('click', function () {
                showValue.html(showValue.val());
                showValue.select();
                document.execCommand("copy");
                showValue.html('');
            });


            block.append(row);
            block.find('.row-extra [data-remove]').removeClass('hidden');
            block.find('.row-extra:eq(0) [data-remove]').addClass('hidden');

            initModel.getExtraContentField();
        };
        initModel.indexField = 0;
        initModel.init = function() {
            jQuery('#template_form select')
                .width(300)
                .select2()

            jQuery('.form-row.field-apply_for_model').addClass('hidden');
            jQuery('.form-row.field-get_mail_model').addClass('hidden');

            jQuery('#id_apply_for_model').attr('readonly', true);
            jQuery('#id_apply_for_field').attr('readonly', true);

            jQuery('#id_get_mail_model').attr('readonly', true);
            jQuery('#id_get_mail_field').attr('readonly', true);

            initModel.renderModel(initModel.data,
                jQuery('#id_model_apply'), jQuery('#id_apply_for_model').val(),
                jQuery('#id_field_apply'), jQuery('#id_apply_for_field').val()
            );
            initModel.renderModel(initModel.data,
                jQuery('#id_model_get'), jQuery('#id_get_mail_model').val(),
                jQuery('#id_field_get'), jQuery('#id_get_mail_field').val()
            );

            jQuery('#id_model_apply').on('change', function() {
                jQuery('#id_apply_for_model').val(jQuery(this).val());
            });
            jQuery('#id_field_apply').on('change', function() {
                jQuery('#id_apply_for_field').val(jQuery(this).val());
            });

            jQuery('#id_model_get').on('change', function() {
                jQuery('#id_get_mail_model').val(jQuery(this).val());
            });
            jQuery('#id_field_get').on('change', function() {
                jQuery('#id_get_mail_field').val(jQuery(this).val());
            });

            jQuery('#id_extra_content_fields')
                .attr('readonly', true)
                .addClass('hidden')
                .after(initModel.templateBlock)
                .parent().find('[data-add]').click(function(){
                initModel.addRow(initModel.indexField++);
            });

            const list = jQuery('#id_extra_content_fields').val().split(',');
            if (list.length > 0) {
                jQuery.map(list, function (item) {
                    const value = item.split('.');
                    initModel.addRow(initModel.indexField++, value[0], value[1]);
                })
            } else
                initModel.addRow(initModel.indexField++);

            const strTooltip = '<div class="tooltip-content">' +
                '<ul>' +
                '<li>If is_condition is True:' +
                '<ul>' +
                '<li>values_for_applying field only accepts these values <, >, <=, >=, =, !=</li>' +
                '<li>Template will be triggered when new value of applying_for_model.applying_for_field is <, >, <=, >=, =, != then the current value</li>' +
                '</ul>' +
                '</li>' +
                '<li>If is_condition is False:' +
                '<ul>' +
                '<li>values_for_applying field can have any value</li>' +
                '<li>Template will be triggered when new value of applying_for_model.applying_for_field is the same as value of values_for_applying field</li>' +
                '</ul>' +
                '</li>' +
                '</ul>' +
                '</div>';


            jQuery('.field-box.field-values_for_applying')
                .append('<div class="tooltip" title>?</div>');

            {#jQuery('.tooltip[title]').tooltip({#}
            {#    show: null,#}
            {#    position: {#}
            {#        my: "left top",#}
            {#        at: "left bottom"#}
            {#    },#}
            {#    open: function( event, ui ) {#}
            {#        ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast" );#}
            {#    },#}
            {#    content: function () {#}
            {#        return jQuery(strTooltip);#}
            {#    }#}
            //});
        };

        jQuery(function(e){
            initModel.getModel(function (result) {
                initModel.data = result.data;
                initModel.init();
            });
        })
    </script>
{% endblock %}
{% autoescape on %}
    {% block field_sets %}
        {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
        {% endfor %}
    {% endblock %}
{% endautoescape %}