<style>
    h3{
        color:rgb(26, 126, 126);
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>
<div>
    <center>
        <h1 style="color:red;">Confidential- UNHCR Property</h1>
    </center>
    <center>
        <h3>Management Letter: {{agreement.business_unit}}{{agreement.number}}</h3>
    </center>
    <center>
        <table border="1" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2">Auditor</td>
                    <td>{{agreement.audit_firm.legal_name}}</td>
                </tr>
                <tr>
                    <td colspan="2">Project Title</td>
                    <td>{{agreement.title}}</td>
                </tr>
                <tr>
                    <td colspan="2">Name of Partner</td>
                    <td>{{agreement.partner.legal_name}}</td>
                </tr>
                <tr>
                    <td colspan="2">Partner Code</td>
                    <td>{{agreement.partner.number}}</td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
<h3>Section 1 - General Finding</h3>
<div class="makeStyles-detailsContainer-62">
    {% for general in mgmt_letter.general %}
    <p>
        <strong>INTRODUCTION:</strong> {{general.introduction}}
    </p>
    <p>
        <strong>SCOPE OF WORK:</strong>{{general.scope_of_work}}
    </p>
    <p>
        <strong>AUDIT OBJECTIVES:</strong>{{general.audit_objectives}}
    </p>
    <p>
        <strong>EXECUTIVE SUMMARY:</strong> {{general.executive_summary}}
    </p>
    {% endfor %}
</div>

<h3>Section 2 - FINANCIAL FINDINGS </h3>
<center>
    <table border="1" cellspacing="0">
        <tbody>
            <tr>
                <th>FINANCIAL FINDINGS</th>
                <th>Require Recovery</th>
                <th>Further Review</th>
                <th>No Recovery Required</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>Local Currency $USD</th>
                <th>Local Currency $USD</th>
                <th>Local Currency $USD</th>
            </tr>
            {% for finding in mgmt_letter.fin_findings %}
            <tr>
                <td>{{ FINANCIAL_FINDINGS_TYPES|get_item:finding.type }}</td>
                <td>{{ finding.required_recovery.local_currency }} {{ finding.required_recovery.usd }}</td>
                <td>{{ finding.further_review.local_currency }} {{ finding.further_review.usd }}</td>
                <td>{{ finding.no_recovery.local_currency }} {{ finding.no_recovery.usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
<h3>Section 3 - MAJOR FINDINGS RELATED TO THE MANAGEMENT CONTROL AND COMPLIANCE WITH THE TERMS OF AGREEMENT </h3>
<center>
    <table border="1" cellspacing="0">
        <tbody>
            <tr>
                <th>ICQ Key </th>
                <th>Process</th>
                <th>Criticality (High, Medium, Low) </th>
            </tr>
            {% for finding in major_findings %}
            <tr>
                <td>{{finding.key_control.title}}</td>
                <td>{{finding.process_title.title}}</td>
                <td>{{finding.risk_criticality}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>
<h3>Section 4 - OVERALL ASSESSMENT OF PARTNER'S FINANCIAL MANAGEMENT CAPACITY FINDINGS </h3>
<center>
    <table border="1" cellspacing="0">
        <tbody>
            <tr>
                <th>ICQ Key </th>
                <th>Process</th>
                <th>Overall Score </th>
            </tr>
            {% for assessment in overall_assessment %}
                {% for key, val in assessment.overall_rating.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{PROCESSES|get_item:key}}</td>
                    <td>{{val}}</td>
                </tr>
                {% endfor %}
            {% endfor %}

        </tbody>
    </table>
</center>
<h3>Section 5 - FOLLOW UP OF THE IMPLEMENTATION OF PREVIOUS AUDIT RECOMMENDATIONS </h3>
<center>
    <table border="1" cellspacing="0">
        <tbody>
            <tr>	
                <th>ID</th>
                <th>Previous Recommendation</th>
                <th>Criticality</th>
                <th>Summary</th>
                <th>Implemented</th>
            </tr>
            {% for folloup in mgmt_letter.follow_up %}
                <tr>
                    <td>{{folloup.control_attribute_code}}</td>
                    <td>{{folloup.prev_recommendation}}</td>
                    <td>{{folloup.criticality}}</td>
                    <td>{{folloup.summary}}</td>
                    <td>{{folloup.recommendation}}</td>
                </tr>
            {% endfor %}            
        </tbody>
    </table>
</center>
