<html>

<head>
    <style>
        h3 {
            color: #0072bc;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        td,
        th {
            border: 1px solid #dddddd;
        }
    </style>
</head>

<body>

    <div>
        <center>
            <img src="https://d10wjolh60a7gg.cloudfront.net/static/media/logo-login.png" alt="Logo" width="50%" />
        </center>
        <center style="display:flex; justify-content:flex-end">
            <p style="color: #0072bc;">
                <script>
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];
                    const date = new Date();
                    const month = monthNames[date.getMonth()];
                    const dateString = date.getDate() + " " + month + " " + date.getFullYear();

                    document.write(dateString);
                </script>
            </p>
        </center>
        <center>
            <h3>DRAFT</h3>
            <h3>QUALITY ASSESSMENT OF AUDITOR PERFORMANCE</h3>
            <h3>CLIENT SATISFACTION SURVEY RESULTS</h3>
            <h3>KPI#3: CLIENT ENGAGEMENT</h3>
        </center>
    </div>

    <section>
        <center>EXECUTIVE SUMMARY AND FINAL CONCLUSION</center>
        <div style="margin:5%;">
            <h5>1. INTRODUCTION AND BACKGROUND</h5>
            <p>
                {{introduction}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>2. SCOPE AND OBJECTIVES</h5>
            <p>
                {{scope_and_objectives}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>3. METHODOLOGY AND SAMPLING SELECTION</h5>
            <p>
                {{methodology}}
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>4. SUMMARY OF THE CLIENT SURVEY SATISFACTION RESULTS</h5>
            <h5>KPI#3: CLIENT ENGAGEMENT</h5>
            <h5>a) PARTNERS’ SURVEY RESULTS</h5>
            <p>
            <table>
                <tr style="background-color:#cbe2f1">
                    <th>
                        <b>Questions</b>
                    </th>
                    <th>
                        <b>Satisfactory</b>
                    </th>
                    <th>
                        <b>Partially Satisfactory</b>
                    </th>
                    <th>
                        <b>Unsatisfactory</b>
                    </th>
                </tr>
                {% for question in partner_survey_results %}
                <tr>
                    <td>
                        {{question.question_title}}
                    </td>

                    <td>
                        {{question.satisfactory}}
                    </td>

                    <td>
                        {{question.partially_satisfactory}}
                    </td>

                    <td>
                        {{question.unsatisfactory}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>

            <h5>b) UNHCR OFFICES’ SURVEY RESULTS</h5>
            <p>
            <table>
                <tr style="background-color:#cbe2f1">
                    <th>
                        <b>Questions</b>
                    </th>
                    <th>
                        <b>Satisfactory</b>
                    </th>
                    <th>
                        <b>Partially Satisfactory</b>
                    </th>
                    <th>
                        <b>Unsatisfactory</b>
                    </th>
                </tr>
                {% for question in field_office_survey_results %}
                <tr>
                    <td>
                        {{question.question_title}}
                    </td>

                    <td>
                        {{question.satisfactory}}
                    </td>

                    <td>
                        {{question.partially_satisfactory}}
                    </td>

                    <td>
                        {{question.unsatisfactory}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>

            <h5>b) AUDITOR SURVEY RESULTS</h5>
            <p>
            <table>
                <tr style="background-color:#cbe2f1">
                    <th>
                        <b>Questions</b>
                    </th>
                    <th>
                        <b>Satisfactory</b>
                    </th>
                    <th>
                        <b>Partially Satisfactory</b>
                    </th>
                    <th>
                        <b>Unsatisfactory</b>
                    </th>
                </tr>
                {% for question in auditor_survey_results %}
                <tr>
                    <td>
                        {{question.question_title}}
                    </td>

                    <td>
                        {{question.satisfactory}}
                    </td>

                    <td>
                        {{question.partially_satisfactory}}
                    </td>

                    <td>
                        {{question.unsatisfactory}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>5. OVERALL CONCLUSION</h5>
            <p>
                {{overall_conclusion}}
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>7. ADDITIONAL COMMENTS</h5>
            <p>
            <ul>
                {% for comments in additional_comments %}
                <li>{{comments}}</li>
                {% endfor %}
            </ul>

            </p>
        </div>
    </section>

</body>

</html>