<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <center>
            <img src="https://d10wjolh60a7gg.cloudfront.net/static/media/logo-login.png" alt="Logo" width="50%" />
        </center>
        <center style="margin-top: 180px;">
            <h3>FINAL QUALITY ASSURANCE</h3>
            <h3>ASSESSMENT OF AUDIT QUALITY</h3>
            <h3>KPI#2: ASSESSMENT OF AUDIT QUALITY</h3>
            {{year}} Project Audit Certification
        </center>
    </div>
    <p style="page-break-before: always" ></p>
    <section>
        <center style="margin-bottom: 50px; margin-top: 50px;">
            <h2>EXECUTIVE SUMMARY AND FINAL CONCLUSION</h2>
        </center>
        <div style="margin:5%;">
            <h5>1. BACKGROUND</h5>
            <p>
                {{final_report.background}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>2. SCOPE AND OBJECTIVES</h5>
            <p>
                {{final_report.scope_and_objective}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>3. METHODOLOGY AND SAMPLING SELECTION</h5>
            <p>
                {{final_report.methodology}}
            </p>
        </div>
    </section>
    <p style="page-break-before: always" ></p>
    <section>
        <center style="margin-bottom: 50px; margin-top: 50px;">
            <h2>4. KEY FINDINGS & RECOMMENDATIONS</h2>
        </center>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">PPA</th>
                    <th scope="col">Question</th>
                    <th scope="col">HQ Comment</th>
                    <th scope="col">Auditor Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for i in key_findings %}
                <tr>
                    <th scope="row">{{i.business_unit}}{{i.number}}</th>
                    <td>{{i.questions}}</td>
                    <td>{{i.answer.comment}}</td>
                    <td>{{i.answer.auditor_comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>