<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
Dear {{ user_fullname }},<br/>
Please find below a summary of the Integrity and Assurance Module notifications:

{% for subject, body in messages %}
    <!-- <h5>{{ forloop.counter }}</h5> -->
    <!-- <h3>{{ subject }}</h3> -->
    <p>{% autoescape off %}{{ body }}{% endautoescape %}</p>
{% endfor %}
</body>
</html>
