user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    {% if MAX_UPLOAD_SIZE_MB is defined %}
        client_max_body_size {{ MAX_UPLOAD_SIZE_MB }}M;
    {% else %}
        client_max_body_size 80M;
    {% endif %}

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    server_tokens off;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /dev/stdout;
    error_log   /dev/stdout info;

    sendfile        on;
    tcp_nopush     on;

    keepalive_timeout  180;

    gzip  on;

    include /etc/nginx/conf.d/*.conf;
}
