upstream backend {
  server {{ DJANGO_APPLICATION_SERVICE_HOST }}:8000;
}

{% if FRONTEND_SERVICE_HOST is defined %}
    upstream frontend {
      server {{ FRONTEND_SERVICE_HOST }}:8080;
    }
{% endif %}

server {
    listen 80;

    location /api/ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://backend;
    }

    location /api/uploads  {
        alias /data/uploads;
        expires 1d;
    }

    location /api/static  {
        alias /data/staticserve;
        expires 1d;
    }

    location / {
        try_files $uri $uri/ @frontend;
    }
    location @frontend {
        proxy_pass http://frontend;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # Following is necessary for Websocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}

server {
    listen 8000;

    location /api/uploads  {
        alias /data/uploads;
        expires 1d;
    }

    location /api/static  {
        alias /data/staticserve;
        expires 1d;
    }

    location = /static/media/logo-unhcr.a1f80b1c.png {
        return 301 http://localhost:8082/api/static/media/logo-unhcr.a1f80b1c.png;
    }

    location = /static/media/home-bkg-2.565af0fe.jpg {
        return 301 http://localhost:8082/api/static/media/home-bkg-2.565af0fe.jpg;
    }

    location / {
        try_files $uri $uri/ @backend;
    }

    location @backend {
        proxy_pass http://backend;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # Following is necessary for Websocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
