<html>

<head>
    <style>
        h3 {
            color: #0072bc;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        td,
        th {
            border: 1px solid #dddddd;
        }
    </style>
</head>

<body>

    <div>
        <center>
            <img src="https://d10wjolh60a7gg.cloudfront.net/static/media/logo-login.png" alt="Logo" width="50%" />
        </center>
        <center style="display:flex; justify-content:flex-end">
            <p style="color: #0072bc;">
                <script>
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ];
                    const date = new Date();
                    const month = monthNames[date.getMonth()];
                    const dateString = date.getDate() + " " + month + " " + date.getFullYear();

                    document.write(dateString);
                </script>
            </p>
        </center>
        <center>
            <h3>DRAFT</h3>
            <h3>QUALITY ASSESSMENT OF AUDITOR PERFORMANCE</h3>
            <h3>TEAM COMPOSITION</h3>
            <h3>KPI#4: Team Composition</h3>
        </center>
    </div>

    <section>
        <center>EXECUTIVE SUMMARY AND FINAL CONCLUSION</center>
        <div style="margin:5%;">
            <h5>1. INTRODUCTION AND BACKGROUND</h5>
            <p>
                {{introduction}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>2. SCOPE AND OBJECTIVES</h5>
            <p>
                {{scope_and_objectives}}
            </p>
        </div>
        <div style="margin:5%;">
            <h5>3. METHODOLOGY AND SAMPLING SELECTION</h5>
            <p>
                {{methodology}}
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>4. SUMMARY OF THE TEAM COMPOSITION ANALYSIS RESULTS</h5>
            <h5>KPI#4: TEAM COMPOSITION</h5>
            <h5>TEAM COMPOSITION ANALYSIS RESULTS PER COUNRY AUDITED</h5>
            <p>
            <table>
                <tr style="background-color:#cbe2f1">
                    <th>
                        <b>Criteria</b>
                    </th>
                    <th>
                        <b>Remarks</b>
                    </th>
                    <th>
                        <b>Auditor Comments</b>
                    </th>
                </tr>
                {% for country in team_composition_countries %}
                <tr>
                    <td>
                        {{country.criteria}}
                    </td>

                    <td>
                        {{country.remarks}}
                    </td>

                    <td>
                        {{country.comments}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>5. OVERALL CONCLUSION</h5>
            <p>
                {{overall_conclusion}}
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>6. IMPROVEMENT AREAS</h5>
            <p>
            <table>
                <tr style="background-color:#cbe2f1">
                    <th>
                        <b>UNHCR Improvement Area</b>
                    </th>
                    <th>
                        <b>Auditor Comments</b>
                    </th>
                </tr>
                {% for area in improvement_areas %}
                <tr>
                    <td>
                        {{area.area}}
                    </td>

                    <td>
                        {{area.comments}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </p>
        </div>
    </section>

    <section>
        <div style="margin:5%;">
            <h5>7. ADDITIONAL COMMENTS</h5>
            <p>
                {{comments}}
            </p>
        </div>
    </section>

</body>

</html>