<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>UNHCR - Partner Management Module</title>

    {% include 'css.html' %}
    <script type="text/javascript">
    // Requires jQuery!
    jQuery.ajax({
        url: "https://jira.unicc.org/s/816cb86c6708715cc28dedcb7c9da52b-T/51pvzp/804003/6411e0087192541a09d88223fb51a6a0/3.1.0/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-US&collectorId=c04403c5",
        type: "get",
        cache: true,
        dataType: "script"
    });
    </script>
  </head>
  <body>
    {% block content %}
        
    {% endblock content %}

    {% include 'js.html' %}
  </body>
</html>
