<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>UNHCR - Partner Management Module</title>

    {% include 'css.html' %}
  </head>
  <body>
    {% block content %}
        
    {% endblock content %}

    {% include 'js.html' %}
  </body>
</html>
